./ShellFusion++/exp_models_dir/11-28版本-模型
mpcmd_info.json
*.npy
task_graph.json
SPKG.json
./ShellFusion++/exp_evaluation_dir
./ShellFusion++/.gitignore
*.input
./ShellFusion++/exp_tasks_dir/*.json    
QAPairs_det.json
QAParsed*